  <div class="list content-block margem-cima-negativo10">
    <div class="row item item-avatar">
      <div class="col col-33">
        <img src="img/img_bruna.png" class="profile">
      </div>

      <div class="col col-66 col-center">
        <h2 ng-bind-html="ctrlAlunoCard.alunoSelecionado.nome"></h2>
        <p ng-bind-html="ctrlAlunoCard.alunoSelecionado.periodo"></p>
        <p>Matr&iacute;cula <i ng-bind-html="ctrlAlunoCard.alunoSelecionado.matricula"></i> - Turma <i ng-bind-html="ctrlAlunoCard.alunoselecionado.turma"></i></p>
        <p>Sala <i ng-bind-html="ctrlAlunoCard.alunoSelecionado.sala"></i></p>
      </div>
    </div>
  </div>
