<ion-view cache-view="false" view-title="MenuType"> 
  <ion-nav-buttons side="right"> 
    <button class="button button-stable" ng-hide="MenuType.inserting || MenuType.editing" ng-click="MenuType.startInserting()"> <i class="icon ion-plus-round"></i> </button> 
    <button class="button button-stable" ng-show="MenuType.inserting || MenuType.editing" ng-click="MenuType.post()"> <i class="icon ion-checkmark"></i> </button> 
  </ion-nav-buttons> 
    <ion-nav-buttons side="left"> 
    <button class="button button-icon button-clear ion-navicon" ng-hide="MenuType.inserting || MenuType.editing" menu-toggle="left"> </button>
    <button class="button button-stable" ng-show="MenuType.inserting || MenuType.editing" ng-click="MenuType.cancel()"> <i class="icon ion-android-arrow-back"></i> </button> 
  </ion-nav-buttons> 
  <ion-content> 
    <div class="component-holder ng-binding ng-scope ui-draggable ui-draggable-handle" data-component="crn-datasource" id="crn-datasource-906854"> 
      <datasource  name="MenuType" entity="api/rest/metadata/MenuType" keys="id" rows-per-page="100" delete-message="Deseja remover?" class=""></datasource> 
    </div> 
	<div crn-datasource="MenuType" class="" ng-hide="MenuType.editing || MenuType.inserting"> 
	<ion-list can-swipe="listCanSwipe"> 
        <ion-item ng-repeat="rowData in datasource.data" class="item" ng-click="datasource.startEditing(rowData)"> 
		  <div class="row">
			<div class="col">
					  {{rowData.id}}
			</div> 
			<div class="col">
					  {{rowData.type}}
			</div> 
		  </div> 
          <ion-option-button class="button-positive" ng-click="datasource.startEditing(rowData)"> 
            <i class="icon ion-edit"></i> 
          </ion-option-button> 
          <ion-option-button class="button-assertive" ng-click="datasource.remove(rowData)">
             &nbsp; 
            <i class="icon ion-trash-a"></i> 
          </ion-option-button> 
        </ion-item> 
      </ion-list> 
    </div> 
    <div ng-show="MenuType.editing || MenuType.inserting"> 
      <form crn-datasource="MenuType"> 
        <fieldset ng-disabled="!datasource.editing &amp;&amp; !datasource.inserting"> 
          <div class="list"> 
			<!-- type begin -->
			<label for="textinput-type" class="item item-input item-stacked-label">
				<span class="input-label">Type</span> 
				<input type="text" placeholder="Type" ng-model="MenuType.active.type" id="textinput-type" name="textinput-type"  required="required"> 
			</label> 
			<!-- type end -->
          </div> 
        </fieldset> 
      </form> 
    </div> 
  </ion-content> 
</ion-view>