<ion-view cache-view="false" view-title="Aluno"> 
  <ion-nav-buttons side="right"> 
    <button class="button button-stable" ng-hide="Aluno.inserting || Aluno.editing" ng-click="Aluno.startInserting()"> <i class="icon ion-plus-round"></i> </button> 
    <button class="button button-stable" ng-show="Aluno.inserting || Aluno.editing" ng-click="Aluno.post()"> <i class="icon ion-checkmark"></i> </button> 
  </ion-nav-buttons> 
    <ion-nav-buttons side="left"> 
    <button class="button button-icon button-clear ion-navicon" ng-hide="Aluno.inserting || Aluno.editing" menu-toggle="left"> </button>
    <button class="button button-stable" ng-show="Aluno.inserting || Aluno.editing" ng-click="Aluno.cancel()"> <i class="icon ion-android-arrow-back"></i> </button> 
  </ion-nav-buttons> 
  <ion-content> 
    <div class="component-holder ng-binding ng-scope ui-draggable ui-draggable-handle" data-component="crn-datasource" id="crn-datasource-906854"> 
      <datasource  name="Aluno" entity="api/rest/aol/Aluno" keys="id" rows-per-page="100" delete-message="Deseja remover?" class=""></datasource> 
    </div> 
	<div crn-datasource="Aluno" class="" ng-hide="Aluno.editing || Aluno.inserting"> 
	<ion-list can-swipe="listCanSwipe"> 
        <ion-item ng-repeat="rowData in datasource.data" class="item" ng-click="datasource.startEditing(rowData)"> 
		  <div class="row">
			<div class="col">
					  {{rowData.id}}
			</div> 
			<div class="col">
					  {{rowData.nome}}
			</div> 
			<div class="col">
					  {{rowData.matricula}}
			</div> 
			<div class="col">
					  {{rowData.user}}
			</div> 
			<div class="col">
					  {{rowData.turma}}
			</div> 
			<div class="col">
					  {{rowData.periodo}}
			</div> 
			<div class="col">
					  {{rowData.sala}}
			</div> 
		  </div> 
          <ion-option-button class="button-positive" ng-click="datasource.startEditing(rowData)"> 
            <i class="icon ion-edit"></i> 
          </ion-option-button> 
          <ion-option-button class="button-assertive" ng-click="datasource.remove(rowData)">
             &nbsp; 
            <i class="icon ion-trash-a"></i> 
          </ion-option-button> 
        </ion-item> 
      </ion-list> 
    </div> 
    <div ng-show="Aluno.editing || Aluno.inserting"> 
      <form crn-datasource="Aluno"> 
        <fieldset ng-disabled="!datasource.editing &amp;&amp; !datasource.inserting"> 
          <div class="list"> 
			<!-- nome begin -->
			<label for="textinput-nome" class="item item-input item-stacked-label">
				<span class="input-label">Nome</span> 
				<input type="text" placeholder="Nome" ng-model="Aluno.active.nome" id="textinput-nome" name="textinput-nome"  required="required"> 
			</label> 
			<!-- nome end -->
			<!-- matricula begin -->
			<label for="textinput-matricula" class="item item-input item-stacked-label">
				<span class="input-label">Matricula</span> 
				<input type="text" placeholder="Matricula" ng-model="Aluno.active.matricula" id="textinput-matricula" name="textinput-matricula"  required="required"> 
			</label> 
			<!-- matricula end -->
			<!-- user begin -->
			<label for="textinput-user" class="item item-input item-stacked-label">
				<span class="input-label">User</span> 
				<input type="text" placeholder="User" ng-model="Aluno.active.user" id="textinput-user" name="textinput-user"  required="required"> 
			</label> 
			<!-- user end -->
			<!-- turma begin -->
			<label for="textinput-turma" class="item item-input item-stacked-label">
				<span class="input-label">Turma</span> 
				<input type="text" placeholder="Turma" ng-model="Aluno.active.turma" id="textinput-turma" name="textinput-turma"  required="required"> 
			</label> 
			<!-- turma end -->
			<!-- periodo begin -->
			<label for="textinput-periodo" class="item item-input item-stacked-label">
				<span class="input-label">Periodo</span> 
				<input type="text" placeholder="Periodo" ng-model="Aluno.active.periodo" id="textinput-periodo" name="textinput-periodo"  required="required"> 
			</label> 
			<!-- periodo end -->
			<!-- sala begin -->
			<label for="textinput-sala" class="item item-input item-stacked-label">
				<span class="input-label">Sala</span> 
				<input type="text" placeholder="Sala" ng-model="Aluno.active.sala" id="textinput-sala" name="textinput-sala"  required="required"> 
			</label> 
			<!-- sala end -->
          </div> 
        </fieldset> 
      </form> 
    </div> 
  </ion-content> 
</ion-view>