<ion-view view-title="CronApp"> 
  <ion-content data-container="true"> 
    <div class="component-holder ng-binding ng-scope" data-container="true" data-component="crn-div" id="crn-div-929090" style="padding-top: 60px;"> 
      <div class="list"> 
        <div class="col text-center"> 
          <div class="component-holder ng-binding ng-scope" data-component="crn-image" id="crn-image-174578" ng-click="vibrate()"> 
            <img src="img/logo.png" style="height: 125px;" class=""> 
          </div> 
        </div> 
      </div> 
    </div> 
  </ion-content> 
</ion-view>