<ion-modal-view> 
  <ion-header-bar class="row" data-container="true"> 
    <h1 class="title">{{"Home.view.ChangePassword" | translate}}</h1> 
    <button class="button button-clear button-positive" ng-click="closeChangePassword()">{{'Home.view.Close' | translate}}</button>
  </ion-header-bar> 
  <ion-content>
  <form class="form-validation" autocomplete="off" name="form" role="form"> 
    <div class="list list-inset" data-container="true"> 
        <label class="item item-input"> 
        <i class="icon ion-asterisk placeholder-icon"></i> 
            <input type="password" class="form-control" id="oldPassword" placeholder="{{'Home.view.Old Password' | translate}}"> 
        </label> 
        <label class="item item-input"> 
        <i class="icon ion-asterisk placeholder-icon"></i> 
            <input type="password" class="form-control" id="newPassword" placeholder="{{'Home.view.New Password' | translate}}"> 
        </label> 
        <label class="item item-input"> 
            <i class="icon ion-asterisk placeholder-icon"></i> 
        <input type="password" class="form-control" id="newPasswordConfirmation" placeholder="{{'Home.view.Confirmation' | translate}}"> 
        </label> 
    </div>
    <div class="list list-inset" data-container="true"> 
        <button class="button button-block button-positive" ng-click="changePassword()" ng-disabled="form.$invalid || vm.dataLoading">{{"Home.view.ChangePassword" | translate}}</button>
    </div>
  </form>
  </ion-content> 
</ion-modal-view>
