<ion-view cache-view="false" view-title="SubmenuItems"> 
  <ion-nav-buttons side="right"> 
    <button class="button button-stable" ng-hide="SubmenuItems.inserting || SubmenuItems.editing" ng-click="SubmenuItems.startInserting()"> <i class="icon ion-plus-round"></i> </button> 
    <button class="button button-stable" ng-show="SubmenuItems.inserting || SubmenuItems.editing" ng-click="SubmenuItems.post()"> <i class="icon ion-checkmark"></i> </button> 
  </ion-nav-buttons> 
    <ion-nav-buttons side="left"> 
    <button class="button button-icon button-clear ion-navicon" ng-hide="SubmenuItems.inserting || SubmenuItems.editing" menu-toggle="left"> </button>
    <button class="button button-stable" ng-show="SubmenuItems.inserting || SubmenuItems.editing" ng-click="SubmenuItems.cancel()"> <i class="icon ion-android-arrow-back"></i> </button> 
  </ion-nav-buttons> 
  <ion-content> 
    <div class="component-holder ng-binding ng-scope ui-draggable ui-draggable-handle" data-component="crn-datasource" id="crn-datasource-906854"> 
      <datasource  name="SubmenuItems" entity="api/rest/metadata/SubmenuItems" keys="id" rows-per-page="100" delete-message="Deseja remover?" class=""></datasource> 
    </div> 
	<div crn-datasource="SubmenuItems" class="" ng-hide="SubmenuItems.editing || SubmenuItems.inserting"> 
	<ion-list can-swipe="listCanSwipe"> 
        <ion-item ng-repeat="rowData in datasource.data" class="item" ng-click="datasource.startEditing(rowData)"> 
		  <div class="row">
			<div class="col">
					  {{rowData.id}}
			</div> 
			<div class="col">
					{{rowData.menuItemParent.name}}
			</div> 
			<div class="col">
					{{rowData.menuItemChild.name}}
			</div> 
		  </div> 
          <ion-option-button class="button-positive" ng-click="datasource.startEditing(rowData)"> 
            <i class="icon ion-edit"></i> 
          </ion-option-button> 
          <ion-option-button class="button-assertive" ng-click="datasource.remove(rowData)">
             &nbsp; 
            <i class="icon ion-trash-a"></i> 
          </ion-option-button> 
        </ion-item> 
      </ion-list> 
    </div> 
    <div ng-show="SubmenuItems.editing || SubmenuItems.inserting"> 
      <form crn-datasource="SubmenuItems"> 
        <fieldset ng-disabled="!datasource.editing &amp;&amp; !datasource.inserting"> 
          <div class="list"> 
			<!-- menuItemParent begin -->
			 <datasource name="MenuItem" entity="api/rest/metadata/MenuItem" keys="id" class=""></datasource> 
			<label for="textinput-menuItemParent" class="item item-input item-select">
				<span class="input-label">Menu Item Parent</span> 
				<select ng-model="SubmenuItems.active.menuItemParent" class="form-control" id="textinput-menuItemParent" name="textinput-menuItemParent" ng-options="opt as opt.name for opt in MenuItem.data track by opt.id" >
				  <option value=''>None</option>
				</select>
			</label> 
			<!-- menuItemParent end -->
			<!-- menuItemChild begin -->
			 <datasource name="MenuItem" entity="api/rest/metadata/MenuItem" keys="id" class=""></datasource> 
			<label for="textinput-menuItemChild" class="item item-input item-select">
				<span class="input-label">Menu Item Child</span> 
				<select ng-model="SubmenuItems.active.menuItemChild" class="form-control" id="textinput-menuItemChild" name="textinput-menuItemChild" ng-options="opt as opt.name for opt in MenuItem.data track by opt.id" >
				  <option value=''>None</option>
				</select>
			</label> 
			<!-- menuItemChild end -->
          </div> 
        </fieldset> 
      </form> 
    </div> 
  </ion-content> 
</ion-view>