<ion-view cache-view="false" view-title="AlunoAviso"> 
  <ion-nav-buttons side="right"> 
    <button class="button button-stable" ng-hide="AlunoAviso.inserting || AlunoAviso.editing" ng-click="AlunoAviso.startInserting()"> <i class="icon ion-plus-round"></i> </button> 
    <button class="button button-stable" ng-show="AlunoAviso.inserting || AlunoAviso.editing" ng-click="AlunoAviso.post()"> <i class="icon ion-checkmark"></i> </button> 
  </ion-nav-buttons> 
    <ion-nav-buttons side="left"> 
    <button class="button button-icon button-clear ion-navicon" ng-hide="AlunoAviso.inserting || AlunoAviso.editing" menu-toggle="left"> </button>
    <button class="button button-stable" ng-show="AlunoAviso.inserting || AlunoAviso.editing" ng-click="AlunoAviso.cancel()"> <i class="icon ion-android-arrow-back"></i> </button> 
  </ion-nav-buttons> 
  <ion-content> 
    <div class="component-holder ng-binding ng-scope ui-draggable ui-draggable-handle" data-component="crn-datasource" id="crn-datasource-906854"> 
      <datasource  name="AlunoAviso" entity="api/rest/aol/AlunoAviso" keys="id" rows-per-page="100" delete-message="Deseja remover?" class=""></datasource> 
    </div> 
	<div crn-datasource="AlunoAviso" class="" ng-hide="AlunoAviso.editing || AlunoAviso.inserting"> 
	<ion-list can-swipe="listCanSwipe"> 
        <ion-item ng-repeat="rowData in datasource.data" class="item" ng-click="datasource.startEditing(rowData)"> 
		  <div class="row">
			<div class="col">
					  {{rowData.id}}
			</div> 
			<div class="col">
					{{rowData.aluno.nome}}
			</div> 
			<div class="col">
					{{rowData.aviso.title}}
			</div> 
			<div class="col">
					  {{rowData.enviado}}
			</div> 
			<div class="col">
					  {{rowData.lido}}
			</div> 
		  </div> 
          <ion-option-button class="button-positive" ng-click="datasource.startEditing(rowData)"> 
            <i class="icon ion-edit"></i> 
          </ion-option-button> 
          <ion-option-button class="button-assertive" ng-click="datasource.remove(rowData)">
             &nbsp; 
            <i class="icon ion-trash-a"></i> 
          </ion-option-button> 
        </ion-item> 
      </ion-list> 
    </div> 
    <div ng-show="AlunoAviso.editing || AlunoAviso.inserting"> 
      <form crn-datasource="AlunoAviso"> 
        <fieldset ng-disabled="!datasource.editing &amp;&amp; !datasource.inserting"> 
          <div class="list"> 
			<!-- aluno begin -->
			 <datasource name="Aluno" entity="api/rest/aol/Aluno" keys="id" class=""></datasource> 
			<label for="textinput-aluno" class="item item-input item-select">
				<span class="input-label">aluno</span> 
				<select ng-model="AlunoAviso.active.aluno" class="form-control" id="textinput-aluno" name="textinput-aluno" ng-options="opt as opt.nome for opt in Aluno.data track by opt.id" >
				  <option value=''>None</option>
				</select>
			</label> 
			<!-- aluno end -->
			<!-- aviso begin -->
			 <datasource name="Aviso" entity="api/rest/aol/Aviso" keys="id" class=""></datasource> 
			<label for="textinput-aviso" class="item item-input item-select">
				<span class="input-label">aviso</span> 
				<select ng-model="AlunoAviso.active.aviso" class="form-control" id="textinput-aviso" name="textinput-aviso" ng-options="opt as opt.title for opt in Aviso.data track by opt.id" >
				  <option value=''>None</option>
				</select>
			</label> 
			<!-- aviso end -->
			<!-- enviado begin -->
			<div class="item item-toggle">
				Enviado
			 <label for="textinput-enviado" class="toggle toggle-assertive">
			   <input type="checkbox" ng-model="AlunoAviso.active.enviado" id="textinput-enviado" name="textinput-enviado" required="required">
			   <div class="track">
				 <div class="handle"></div>
			   </div>
			 </label>
			</div>	
			<!-- enviado end -->
			<!-- lido begin -->
			<div class="item item-toggle">
				Lido
			 <label for="textinput-lido" class="toggle toggle-assertive">
			   <input type="checkbox" ng-model="AlunoAviso.active.lido" id="textinput-lido" name="textinput-lido" required="required">
			   <div class="track">
				 <div class="handle"></div>
			   </div>
			 </label>
			</div>	
			<!-- lido end -->
          </div> 
        </fieldset> 
      </form> 
    </div> 
  </ion-content> 
</ion-view>